body {
    background-image: url('https://cdn.creativefabrica.com/2022/10/06/Grid-background-design-in-pastel-colors-Graphics-40388230-1.jpg');
    background-repeat: repeat;
    background-size: cover;
    font-family: "Varela Round", sans-serif;
}

.header {
    width: 100%;
    height: 13%;
    left: 0;
    top: 0;
    background-color: rgb(115, 75, 67);
    border-bottom: #4f332d solid 5px;
    position: absolute;
    display: flex;
    font-size: 20px;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    gap: 1em;
   
}

.header a {
    text-decoration: none;
    color: antiquewhite;
    transition: all .2s;
}

.header a:hover {
    font-size: 25px;
}

.generate:hover {
    text-decoration: underline wavy;
}