body {
    background-image: url('https://cdn.creativefabrica.com/2022/10/06/Grid-background-design-in-pastel-colors-Graphics-40388230-1.jpg');
    background-repeat: repeat;
    background-size: cover;
}